[**fiction-map**](../../../README.md)

***

[fiction-map](../../../README.md) / [runtime/src](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/runtime/src/types.ts:187](https://github.com/sirmews/fiction-map/blob/6022fe6f260accf641b1d9ae99d958096a8f0450/packages/runtime/src/types.ts#L187)

## Properties

### errors

> **errors**: [`GraphError`](GraphError.md)[]

Defined in: [packages/runtime/src/types.ts:189](https://github.com/sirmews/fiction-map/blob/6022fe6f260accf641b1d9ae99d958096a8f0450/packages/runtime/src/types.ts#L189)

***

### reachableNodes

> **reachableNodes**: `Set`\<`string`\>

Defined in: [packages/runtime/src/types.ts:190](https://github.com/sirmews/fiction-map/blob/6022fe6f260accf641b1d9ae99d958096a8f0450/packages/runtime/src/types.ts#L190)

***

### valid

> **valid**: `boolean`

Defined in: [packages/runtime/src/types.ts:188](https://github.com/sirmews/fiction-map/blob/6022fe6f260accf641b1d9ae99d958096a8f0450/packages/runtime/src/types.ts#L188)
