[**fiction-map**](../../../README.md)

***

[fiction-map](../../../README.md) / [story-runtime/src](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [story-runtime/src/types.ts:167](https://github.com/sirmews/fiction-map/blob/b370981c8043baa0195ceed6d309f2ea761ca379/packages/story-runtime/src/types.ts#L167)

## Properties

### errors

> **errors**: [`GraphError`](GraphError.md)[]

Defined in: [story-runtime/src/types.ts:169](https://github.com/sirmews/fiction-map/blob/b370981c8043baa0195ceed6d309f2ea761ca379/packages/story-runtime/src/types.ts#L169)

***

### reachableNodes

> **reachableNodes**: `Set`\<`string`\>

Defined in: [story-runtime/src/types.ts:170](https://github.com/sirmews/fiction-map/blob/b370981c8043baa0195ceed6d309f2ea761ca379/packages/story-runtime/src/types.ts#L170)

***

### valid

> **valid**: `boolean`

Defined in: [story-runtime/src/types.ts:168](https://github.com/sirmews/fiction-map/blob/b370981c8043baa0195ceed6d309f2ea761ca379/packages/story-runtime/src/types.ts#L168)
